*.pyc
**/dataset
**/Pesos
**/predictions
**/segmentation_and_analysis/__pycache__
**/unet2D/__pycache__
**/unet2D/load_weights_unet2D.py
**/unet2D/train_unet2D.py
**/unet3D/__pycache__
**/unet3D/load_best_model.py
**/unet3D/train_model.py
